<a href="https://colab.research.google.com/github/20230212KIM/NLP_2023/blob/main/4_2_ForStatement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# üÖ∞Ô∏è **FOR statement** üîÑ Loop  
"for statement" enable you to extract each one of elements (i.e., from 1st element to the last from an objectÍ∞ùÏ≤¥ or a certain range of dataÌäπÏ†ï Î≤îÏúÑÏùò ÏûêÎ£å).

- #### <font color='red'> Example</font> from ÌååÏù¥Ïç¨ 200Ï†ú

        for Íµ¨ÏÑ±ÏöîÏÜå in Î≤îÏúÑ: #list, tuple, dictionary, range
            Î∞òÎ≥µÏúºÎ°ú Ïã§ÌñâÌï† ÏΩîÎìú #e.g., ÏàòÌñâÌï† Î¨∏Ïû•
        
          or/and  

        for ÏïÑÎûò ÏΩîÎìúÎùºÏù∏ Î≥ÄÏàò in Î≤îÏúÑ:
            Î∞òÎ≥µÏúºÎ°ú Ïã§ÌñâÌï† ÏΩîÎìú #e.g., ÏàòÌñâÌï† Î¨∏Ïû•

In [ ]:
numbers = 1,2,3,4,5,6,7,8,9

for i in numbers: # 'i' represents for integers.
  print(i)

1
2
3
4
5
6
7
8
9

In [ ]:
numbers=1,2,3,4,5,6,7,8,9
for i in numbers:
  print(i)

1
2
3
4
5
6
7
8
9

In [ ]:
numbers=1,2,3,4,5,6,7,8,9
for i in numbers:
  print(i)

1
2
3
4
5
6
7
8
9

In [ ]:
#@markdown Similar exercise for a For Statement.

scope = [1,2,3,4,5]

for x in scope: # Any alphabet of your choice can be anything after "for" work.
  print(x)

1
2
3
4
5

In [ ]:
scope=[1,2,3,4,5]
for x in scope:
  pirnt(x)

In [ ]:
scope=[1,2,3,4,5]
for x in scope:
  print(x)

1
2
3
4
5

In [ ]:
scope2 = ['ÏÑ±Ìù¨','ÏßÄÏõê','ÏòàÏõê','Ïú§ÏÜ°']
for i in scope2:
  print(i)

ÏÑ±Ìù¨
ÏßÄÏõê
ÏòàÏõê
Ïú§ÏÜ°

In [ ]:
#@markdown Similar exercise for a For Statement.

scope = [1,2,3,4,5]

for y in scope: # An alphabet can be anything you like after 'for'.
  print(y)

1
2
3
4
5

In [ ]:
scope=[1,2,3,4,5]
for y in scope:
  print(y)

1
2
3
4
5

##üëÄ Before you run the following code lines for a FOR Statement, you need to know the following.

üíä ObjectsÍ∞ùÏ≤¥ used in FOR statements are i) string, ii) list or tuple, iii) dictionary, iv) range(). They are characterized by repeatable objects.  

    The results depend on the number in (range Î≤îÏúÑ).
    e.g., range(0) ‚û°Ô∏è  NONE, range(1) ‚û°Ô∏è 0, range(2) ‚û°Ô∏è 0,1, etc.

In [2]:
for i in range(1):
  print(i)
type(i)

0

int

In [ ]:
for i in range(1):
  print (i)

type(i)

0

int

In [ ]:
for x in range(3):
  print(x)

type(x)

0
1
2

int

In [4]:
for y in range(10):
  print(y)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for y in range(10):
  print(y)

type(y)

0
1
2
3
4
5
6
7
8
9

int

In [8]:
var='0123456789'
len(var)

10

In [7]:
for z in range(0):
  print(z)

#type(y) #NameError: name 'y' is not defined

In [6]:
for z in range(0):
  print(z)

In [ ]:
list_fruit = ["apple", "banana", "grape", "strawberry", "pear", "mango"]

for i in list_fruit:
  print(i)

apple
banana
grape
strawberry
pear
mango

In [10]:
list_fruit=["apple","banana","grape","strawberry","watermelon","mango"]
for i in list_fruit:
  print(i)

apple
banana
grape
strawberry
watermelon
mango

In [ ]:
string='abcde'

for c in string:
  print(c)

a
b
c
d
e

In [11]:
string='abcde'
for c in string:
  print(c)

a
b
c
d
e

In [ ]:
list_int = [1,2,3,4,5]

for c in list_int:
  print(c)

1
2
3
4
5

In [17]:
list_int=[1,2,3,4,5]
for c in list_int:
  print(c)


print(list_int[0])
print([0])

1
2
3
4
5
1
[0]

In [19]:
print(list_int[0])
print([0])

1
[0]

In [15]:
dictionary = {'a':97, 'b':98, 'c':99}

for i in dictionary:
  print(i)

a
b
c

In [14]:
dic1={'a':97,'b':98,'c':99}
for i in dic1:
  print(i)

a
b
c

In [26]:
dic2={'a':100,'b':200,'c':300}
for i in dic2:
  print(i)
print(dic2['a'])
print(dic2['b'])
print(dic2['c'])
print(['a'])

list=[100,200,300]
for y in list:
  print(y)
print(list[0])

#print(dic2[0]) #Ïò§Î•òÎÇ® ÏôúÎÉêÎ©¥ Î¶¨Ïä§Ìä∏ÏôÄ ÌäúÌîåÍ≥º Îã¨Î¶¨ ÌÇ§ÏôÄ ÎãµÏùÑ ÎèôÏãúÏóê Î≥¥Ïó¨Ï§Ñ Ïàò ÏûàÎäî Í≤ÉÏùÄ ÏóÜÏùå

a
b
c
100
200
300
['a']
100
200
300
100

KeyError: ignored

In [21]:
print(dic2['a'])
print(['a'])

100
['a']

In [ ]:
#@markdown üí£ üíä Compare between print(dictionary['a']) & print(['a']) to print a value, not a key.

print(dictionary['a'])

print(['a'])

97
['a']

In [ ]:
for c in range(10):
  print(c)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for c in range(10000):
  print(c)

# üÖ±Ô∏è  FOR ~: IF ~: CONTINUE... ELSE: BREAK

    for Íµ¨ÏÑ±ÏöîÏÜå ÌòπÏùÄ ÏïÑÎûò ÏΩîÎìúÎùºÏù∏ Î≥ÄÏàò in Î≤îÏúÑ:
      ...
      continue    # Îã§Ïùå Î∞òÎ≥µÎ¨∏ ÏàòÌñâ
      ...
      break       # for Î∞òÎ≥µÎ¨∏ ÌÉàÏ∂ú

In [ ]:
scope=[1,2,3,4,5]

for i in scope:
  print(i)        #ÌôîÎ©¥Ïóê Ìï¥Îãπ Ï†ïÏàòÎ•º Ï∂úÎ†•Ìïú ÌõÑ Í∑∏ ÏàòÍ∞Ä 3 Î≥¥Îã§ ÏûëÏúºÎ©¥ Í∑∏ Îã§Ïùå Ïà´ÏûêÎ•º Ï∂úÎ†•ÌïòÍ≥†, 3 Î≥¥Îã§ ÌÅ¨Í±∞ÎÇò Í∞ôÏúºÎ©¥ Ï¢ÖÎ£å
  if i<3:
    continue      # Ïù¥ Í≤ΩÏö∞ continue ÏóÜÏù¥ÎèÑ ÏΩîÎìúÎùºÏù∏ ÏûëÏÑ± Í∞ÄÎä•
  else:
    break

1
2
3

scope2
[1,2,3,4,5,6,7,8,9,10,11]
i<10

In [32]:
scope2=[1,2,3,4,5,6,7,8,9,10,11]
for i in scope2:
  print(i)
  if i<10:
    continue
  else:
    break

1
2
3
4
5
6
7
8
9
10

In [28]:
scope=[1,2,3,4,5]
for i in scope:
  print(i)
  if i<3:
    continue
  else:
    break

1
2
3

#üÖæÔ∏è FOR ~: ELSE ~:

    for Î≥ÄÏàò in Î≤îÏúÑ:
      Î∞òÎ≥µ Ïã§Ìñâ ÏΩîÎìú
    else:       
      for Íµ¨Î¨∏Ïù¥ Î™®Îëê Ïã§ÌñâÎêòÏóàÏùÑ Îïå Ïã§ÌñâÌï† ÏΩîÎìú

In [34]:
scope=[1,2,3,4,5]
for x in scope:
  print(x)
else:
  print('Perfect')

1
2
3
4
5
Perfect

In [ ]:
scope = [1,2,3,4,5]

for x in scope:
  print(x)
else:                 #Î∞òÎ≥µÎ¨∏Ïù¥ breakÏóê ÏùòÌï¥ Ï§ëÎã®Îê® ÏóÜÏù¥ Ï†ïÏÉÅÏ†ÅÏúºÎ°ú Î™®Îëê Ïã§ÌñâÎêòÏñ¥ÏïºÎßå ÌäπÏ†ï ÏΩîÎìú Ïã§ÌñâÌï† Í≤ΩÏö∞ FOR ~ ELSE ÏÇ¨Ïö©
  print('Perfect')

                      #ÌååÏù¥Ïç¨200Ï†úÏóêÎäî print (x) Îã§ÏùåÏóê break ÏΩîÎìúÎùºÏù∏Ïù¥ ÏûàÎäîÎç∞, Ïù¥Í≤ÉÏùÄ ÏõêÏÜåÍ∞Ä Î≤îÏúÑÏóê ÏûàÏùÑ Îïå Í≤∞Í≥ºÎ•º Î≥¥Ïó¨Ï£ºÎäîÍ≤å 1 Í∞ú Î∞ñÏóê ÏïàÎêúÎã§. Ïã§ÏàòÎ°ú ÎÑ£ÏùÄ ÏΩîÎìúÎùºÏù∏ÏúºÎ°ú Î≥¥Ïù∏Îã§. Ïù¥ ÏòàÏ†úÎäî ÏïÑÎûòÏóê Îî∞Î°ú ÏΩîÎìúÎùºÏù∏ÏùÑ ÏûëÏÑ±ÌñàÎã§.

1
2
3
4
5
Perfect

# üíä **Compare!**

In [ ]:
#@markdown üíÄ IT seems an imperfect example from ÌååÏù¥Ïç¨200Ï†ú.
list = [1,2,3]
for i in list:
  print(i)
  break ##ÌååÏù¥Ïç¨200Ï†úÏóêÎäî print (x) Îã§ÏùåÏóê break ÏΩîÎìúÎùºÏù∏Ïù¥ ÏûàÎäîÎç∞, Ïù¥Í≤ÉÏùÄ ÏöîÏÜåÍ∞Ä Î≤îÏúÑÏóê ÏûàÏùÑ Îïå Í≤∞Í≥ºÎ•º Î≥¥Ïó¨Ï£ºÎäîÍ≤å 1 Í∞ú Î∞ñÏóê ÏïàÎêúÎã§. Ïã§ÏàòÎ°ú ÎÑ£ÏùÄ ÏΩîÎìúÎùºÏù∏ÏúºÎ°ú Î≥¥Ïù∏Îã§.
else:
  print('Perfect')

1

In [ ]:
list=[1,2,3]
for i in list:
  print(i)
  break
else:
  print('Perfect')